*{
    margin: 0;
    padding: 0;
}

.container{
    border: 2px solid rgb(183, 169, 169);
    text-align: center;
    color: black;
    background-color: antiquewhite;
}
.container:hover{
    border: 2px solid;
}
/* '''feedback form''' */

.box{
  height: 420px;
  width: 300px;
  margin: 10px auto;
  background-color:white;
  text-align: left;
  padding: 10px ;
}

.form{
border: 1px solid black;
padding-left: 8px;
margin-left: 10px auto;
}
.form:hover{
    border:2px solid;
}
    
h4{
    font-size: 30px;
    padding-top: 5px;
}

.button{
    background-color: rgb(25, 226, 25);
    font-size: 15px;
    border: none;
    border-radius: 3px;
    width: 170px;
    margin-bottom: 20px;
    /* top: 20px; */
}
.button:hover{
    border:2px solid ;
}


